<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso backend - Código Facilito </title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <h1>Hola, mundo otra vez</h1>
    <p>desde ejs</p>
    
</body>
</html>